# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3ac78b9c2b7d350bf65aa0205fe6ff822b4c421051eaf34583e2019d136628d0739f93f91c3cb063aa5c930e4a058c02714886f63f2f31d10d022d9e295c1083
  consumer_key: "aDsy1EpoJWga7n9EyQMm5iTFt"
  consumer_secret: "cszWrxD1YmAQWokL0s6tBGdCOktLzAsdhYGx0yAR6UuiWnW3u2"
  access_token: "1471354861-WXEBKTDQHyeIdaNrx7XVTpAFR4g8n1uzPoYATRH"
  access_token_secret: "9az6K1jYHoXqG3Pv3pqJd2FVL9JkxEgrUbPOW2E3wAAxV"

test:
  secret_key_base: d29b803aa558b40b9b48a7d66e4e56d0495b6322818956b268ff30657e47fbdd2702876950ff794a861ff0160e28db1fb42ed56e93fefaeb85a33396ec0ed03e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>